@model IEnumerable<KVSC.Data.Models.Service>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">ServiceName</th>
                    <th class="card-title text-center">Description</th>
                    <th class="card-title text-center">BasePrice</th>
                    <th class="card-title text-center">HomeVisitFee</th>
                    <th class="card-title text-center">Duration</th>
                    <th class="card-title text-center">CategoryId</th>
                    <th class="card-title text-center">Availability</th>
                    <th class="card-title text-center">IsActive</th>
                    <th class="card-title text-center">CategoryName</th>
                </tr>
            </thead>
            <tbody class="tblServices">
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        })

        function loadData() {
            alert("Load data progressing...")
            $.ajax({
                url: 'https://localhost:7078/api/Services',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert('Server response: ' + result.message);
                    console.log(result);
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.serviceName + '</td>';
                        html += '<td>' + item.description + '</td>';
                        html += '<td>' + item.basePrice + '</td>';
                        html += '<td>' + item.homeVisitFee + '</td>';
                        html += '<td>' + item.duration + '</td>';
                        html += '<td>' + item.category.categoryId + '</td>';
                        html += '<td>' + item.availability + '</td>';
                        html += '<td>' + item.isActive + '</td>';
                        html += '<td>' + item.category.categoryName + '</td>';
                        html += '</tr>';
                    });
                    $('.tblServices').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }
    </script>
}