@model KVSC.Data.Models.Pond

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pond</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PondSize" class="control-label"></label>
                <input asp-for="PondSize" class="form-control" />
                <span asp-validation-for="PondSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterQuality" class="control-label"></label>
                <input asp-for="WaterQuality" class="form-control" />
                <span asp-validation-for="WaterQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMaintenanceDate" class="control-label"></label>
                <input asp-for="LastMaintenanceDate" class="form-control" />
                <span asp-validation-for="LastMaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
